Flask==3.0.1
Flask-Cors==4.0.0
Flask-WTF==1.2.1
haversine==2.8.1
importlib-metadata==7.0.1
importlib_resources==6.4.0
jsonify==0.5
python-dotenv==1.0.1
requests==2.31.0
urllib3==2.1.0
gunicorn==20.1.0
stripe==6.0.0
