altgraph==0.17.2
blinker==1.7.0
Cartopy==0.21.1
certifi==2023.11.17
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
Flask==3.0.1
Flask-Cors==4.0.0
Flask-WTF==1.2.1
fonttools==4.53.0
future==0.18.2
geographiclib==2.0
geopy==2.4.1
git-filter-repo==2.45.0
haversine==2.8.1
idna==3.6
importlib-metadata==7.0.1
importlib_resources==6.4.0
itsdangerous==2.1.2
Jinja2==3.1.3
jsonify==0.5
kiwisolver==1.4.5
macholib==1.15.2
MarkupSafe==2.1.4
matplotlib==3.9.0
netCDF4==1.7.1.post1
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pyparsing==3.1.2
pyproj==3.6.1
pyroj==0.0.3
pyshp==2.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
scipy==1.13.1
shapely==2.0.4
six==1.15.0
tzdata==2024.1
urllib3==2.1.0
Werkzeug==3.0.1
WTForms==3.1.2
xarray==2024.6.0
zipp==3.17.0
gunicorn==20.1.0